<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="vue1026.js"></script>
</head>
<body>
<div id="app">
    <!--v-bind  动态生成一个属性值-->
    <!--<input type="text" v-bind:value="name"/></br>-->
    <!--<input type="text" :value="name"/>-->
    <!--<a v-bind="{href:'http://itacst.cn/index/'+id}">跳转页面</a>-->


    <!--v-model 双向数据绑定-->
    <input type="text" v-model='msg'/>

    <form action="">
        <input type="text" v-model="uname"/>
        <input type="text" v-model="upwd"/>
        <input type="text" v-model="age" number/>
        <button @click="login">登录</button>
    </form>
</div>
<script>
    var vm = new Vue({
        el: '#app',
        data: {
            msg: '黑马程序员',
            uname: '',
            upwd: '',
            age: 1
        },
        methods: {
            login: function () {
                alert(typeof this.age);
            }
        }
    })
</script>
</body>
</html>